.canvas{
    height: 500px;
    width: 500px;
}
.canvasBox{
    margin-top: 140px;
}
.canvas2{
    height: 250px;
    width: 250px;
    border: 3px solid black;
}
.canvas2Box{
    margin-top: 40px;
}
.editor text{
    margin: 10px;
}
.one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PracticeWords{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* dialog */
.doc-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editorOff{
    position: absolute;
    bottom: 0px;
    left: -500px;
}
.editorOn{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.editorOff div{
    width: 80px;
    height: 80px;
    margin: 25px;
}
.editorOn div{
    width: 80px;
    height: 80px;
    margin: 25px;
}
.help{
    position: absolute;
    top: 110px;
    right: 0px;
}
.help image{
    width: 100px;
    height: 100px;
}
.dialog-div {
    flex-direction: column;
    align-items: center;
}
.inner-txt {
    width: 80%;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.txt {
    font-size: 45px;
    color: #000000;
    font-weight: bold;
}
.containerText {
    margin: 0% 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerText text{
    font-size: 45px;
}
.inner-btn {
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.inner-btn button{
    font-size: 55px;
    color: #ffc200;
}
.nest-div {
    background-color: #FFFFFF;
}
.read{
    position: absolute;
    top: 110px;
    left: 0px;
}
.read image{
    width: 90px;
    height: 90px;
}
.popup {
    mask-color: gray;
}
.text {
    color: white;
}
.Animation{
    position: absolute;
    bottom: 0;
    left: 0;
}
/*使用教程*/
.container {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F1F3F5;
}
.stepperContent{
    width:1080px;
    height:1920px;
}
.stepperClass{
    border:1px solid silver ;
    background-color: white;
    font-size: 55px;
}
.stepperClass text{
    font-size: 80px;
}
text{
    width: 100%;
    height: 100%;
    text-align: center;
}
.searchContainer {
    position: absolute;
    top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F3F5;
}
text{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
}
/*评分*/
.ratingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
rating {
    width: 200px;
}
